#tab_plugin_PrusaLevelingGuide i {
  color: black !important;
}
#tab_plugin_PrusaLevelingGuide .variance_container {
  float: right;
  text-align: center;
  padding-right: 20px;
  padding-top: 5px;
}
#tab_plugin_PrusaLevelingGuide .variance strong {
  border: 1px solid;
}
#tab_plugin_PrusaLevelingGuide #viewType {
  margin: 10px;
  width: 125px;
}
#tab_plugin_PrusaLevelingGuide #tableView td {
  text-align: center;
}
#tab_plugin_PrusaLevelingGuide #tableView .bedvalue {
  width: 60px;
  color: black !important;
}
#tab_plugin_PrusaLevelingGuide #realView #photo_heatbed {
  background: url(/plugin/PrusaLevelingGuide/static/img/photo_heatbed.png);
  background-repeat: no-repeat;
  height: 455px;
  background-position: center;
  display: grid; 
  grid-template-columns: 50% 0% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
 }
#tab_plugin_PrusaLevelingGuide #realView .bedvalue {
  width: 50px;
  color: black !important;
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-0-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-1-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-2-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-3-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-4-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-5-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-6-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-7-container {
}
#tab_plugin_PrusaLevelingGuide #realView .bedvalue-8-container {
}
